language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy3"
install:
  - "pip install ."
  - "pip install -v -r requirements.txt"
script:
  - python tests/module_test.py
branches:
  only:
    - master
