# Copyright (c) 2010-2015, Yahoo Inc.
# Copyrights licensed under the New BSD License
# See the accompanying LICENSE.txt file for terms.

# metadata
include README.md
include README.rst

include sshmap/package_metadata.json
recursive-include scripts/ *
recursive-include sshmap/ *
